<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="btn-group btn-group-justified" role="jobs">
          <div class="btn-group" role"jobs">
              <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{selectedClass}}
                  <span class="caret"><span>
              </a>
              <ul class="dropdown-menu">
                  <li ng-repeat="clazz in classList"><a ng-click="classSelected(clazz)">{{clazz}}</a></li>
              </ul>
          </div>
          <div class="btn-group" role"jobs">
              <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{selectedJob}}
                  <span class="caret"><span>
              </a>
              <ul class="dropdown-menu">
                  <li ng-repeat="job in jobList"><a ng-click="jobSelected(job)">{{job}}</a></li>
              </ul>
          </div>
        </div>
      </div>
      <h3>Skills</h3>
      <div class="row">
        <div ng-repeat="skill in skills" class="col-sm-2 skill {{ skill.view.class }}" ng-click="addToSelectedSkills(skill.name)"> 
          <button class="btn btn-large skill" type="button" ng-disabled="skill.key == undefined" data-toggle="tooltip">
            <img ng-src="{{ skill.view.icon }}" class="skill img-rounded">
          </button>
        </div>
      </div>
      <h3>Rotation</h3>
      <div class="row">
        <div ng-repeat="skill in select track by $index" class="col-sm-2 skill" ng-click="removeFromSectedSkills(skill.name)" tooltip="{{skill.name_fr}}"> 
          <img ng-src="{{ skill.view.icon }}" class="skill">
        </div>
      </div>
      <h3>Macro</h3>
      <div class="row">
        <div ng-repeat="command in commands" class="col-sm-12 skill" > 
          {{command.trigger_time}} : {{command.skill.name_fr}}
        </div>        
      </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
      <div class="row">
        <pre>{{macro}}</pre>
      </div>
    </div>
  </div>
</div>

